body {
  background-color: #24ACF2;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}
.line {
  position: absolute;
  top: 0px;
  margin-left: -1px;
  left: 50%;
  width: 2px;
  height: 500px;
  text-align: center;
  color: grey;
  font-size: 172px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
.hook {
  position: absolute;
  top: 235px;
  left: 50%;
  margin-left: -74px;
  width: 100px;
  text-align: center;
  color: #747474;
  font-size: 200px;
  padding: 0px;
}
.knot {
  position: absolute;
  margin-left: -9px;
  left: 50%;
  top: 490px;
  width: 19px;
  height: 1px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding: 0px;
}
